dataset/
runs/
old_runs/
RAI_project/
results_D7/
results_trees/
results_F11/
results_G3/
pred_vidz/
spilkovaRAI/
teset_labels_vis_01/
test_label_vis/
vidz/
outputs/
*.pt
dataset.zip
nezavirej.txt
pred_vidz.zip
