lap==0.5.12
matplotlib==3.10.3
moviepy==2.2.1
numpy==2.2.5
opencv-python==4.11.0.86
pandas==2.2.3
pillow==11.2.1
python-dotenv==1.2.1
PyYAML==6.0.2
requests==2.32.3
scipy==1.15.3
seaborn==0.13.2
torch==2.7.0
torchvision==0.22.0
tqdm==4.67.1
ultralytics==8.3.132
